{% extends "base.html" %}

{% block content %}









<!--
<div class="container mt-5">
        <h2 class="mb-4">Kayıt Ol</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="card shadow-sm">
                        <div class="card-body">
                            {% for field in form %}
                                <div class="mb-3">
                                    {{ field.label_tag }}
                                    <div class="form-control">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary" value="signup">Kayıt Ol</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 -->
{% endblock %}
